:root {
  --clip-shape: ellipse(210% 95% at 100% 0%);
  --text-color: #a7cc1d;
  --overlap-color: #fff;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../font/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(4vw + 1em);
  font-family: "RobotoMono";
  font-variation-settings: "wght" 700;
}

.diagonal__box {
  height: 50vh;
  position: relative;
}

.diagonal__box--background {
  -webkit-clip-path: var(--clip-shape);
  clip-path: var(--clip-shape);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.image {
  background: url(/image/david-gardiner--VSZCFZ0avo-unsplash.jpg);
  background-size: cover;
}

.clipped-text {
  color: var(--text-color);
  margin: 0;
  padding: 0 1rem 0 0;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  text-align: right;
  z-index: 3;
}

.clipped-text::after {
  content: attr(data-heading);
  color: var(--overlap-color);
  -webkit-clip-path: var(--clip-shape);
  clip-path: var(--clip-shape);
  margin: inherit;
  padding: inherit;
  height: inherit;
  width: inherit;
  position: inherit;
  bottom: inherit;
  right: inherit;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  text-align: inherit;
  z-index: 4;
}

.svg__clip {
  width: 90%;
  height: 100%;
  margin: 0;
  padding-left: 2rem;
  position: absolute; 
}

svg {
  clip-path: url(#svgpath);
}

@media only screen and (max-width: 800px) {
  image {
    width: 100%;
  }
}